@model Core.Entities.Adress

@{
    bool isEdit = Model?.Id > 0;
    ViewData["Title"] = isEdit ? "Adres Düzenle" : "Yeni Adres Ekle";
    Layout = "_AdminLayout";
}


@* breadcrumb ve butonlar *@
<div class="page-header">
    <partial name="~/Areas/Admin/Views/PartialViews/_Breadcrumb.cshtml" model="@ViewBag.Breadcrumbs" />
</div>

<form asp-action="@(isEdit ? "Edit" : "Create")" method="post">
    @Html.AntiForgeryToken()

    @if (isEdit)
    {
        <input type="hidden" asp-for="Id" />
    }

    <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3" role="alert"></div>

    <div class="row g-3 mb-3">

        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientName" class="control-label"></label>
                <input asp-for="RecipientName" class="form-control" />
                <span asp-validation-for="RecipientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientSurname" class="control-label"></label>
                <input asp-for="RecipientSurname" class="form-control" />
                <span asp-validation-for="RecipientSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Neighbourhood" class="control-label"></label>
                <input asp-for="Neighbourhood" class="form-control" />
                <span asp-validation-for="Neighbourhood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsBillingAdress" /> @Html.DisplayNameFor(model => model.IsBillingAdress)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeliveryAdress" /> @Html.DisplayNameFor(model => model.IsDeliveryAdress)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AddressGuid" class="control-label"></label>
                <input asp-for="AddressGuid" class="form-control" />
                <span asp-validation-for="AddressGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppuserId" class="control-label"></label>
                <select asp-for="AppuserId" class="form-control" asp-items="ViewBag.AppuserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDate" class="control-label"></label>
                <input asp-for="DeletedDate" class="form-control" />
                <span asp-validation-for="DeletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

