@model IEnumerable<Adress>

@{
    ViewData["Title"] = "Adres Listesi";
    Layout = "_AdminLayout";
}

<div class="page-header">

    <partial name="~/Areas/Admin/Views/PartialViews/_Breadcrumb.cshtml" model="@ViewBag.Breadcrumbs" />

    <div class="button-group">
        <a asp-action="Form" class="btn-nx primary" data-bs-toggle="tooltip" data-bs-placement="top"
               title="Yeni adres eklemek için tıklayın">
            <i class="fas fa-plus"></i>Adres Ekle
        </a>
    </div>
</div>

<partial name="_Spinner" />

@* Aktif Paisf verilerin sayısı *@
<partial name="~/Areas/Admin/Views/PartialViews/_StartCard.cshtml" model="@ViewBag.StartCards" />
<div class="card-nx mb-4">

    <div class="bulk-action-bar">
        <span>
            <span class="bulk-count">0</span>
            adres seçildi
        </span>
        <div class="bulk-action-buttons">
            <button class="btn-nx danger-btn sm">
                <i class="fas fa-trash"></i> Sil
            </button>
        </div>
    </div>
    
    <div class="table-container">
        <table id="dataTable" class="table-nx nowrap" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        <input type="checkbox" class="check-all checkbox-control" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Tümünü seç">
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Province)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.District)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Neighbourhood)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsBillingAdress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDeliveryAdress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AppUser)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th class="text-end">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(index++)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Province)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.District)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Neighbourhood)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsBillingAdress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDeliveryAdress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AppUser.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.Raw(StatusBadge(item.Status))
                        </td>
                        <td>
                            <div class="action-btns">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn-icon info"
                                       data-bs-toggle="tooltip" data-bs-placement="top" title="Detaylar">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a asp-action="Form" asp-route-id="@item.Id" class="btn-icon warning"
                                       data-bs-toggle="tooltip" data-bs-placement="top" title="Düzenle">
                                    <i class="fas fa-pen-to-square"></i>
                                </a>
                                <button type="button" class="btn-icon danger" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Sil"
                                        onclick="confirmDelete(@item.Id, '@Html.Raw(item.Title.Replace("'", "\\'"))', 'Adresi Sil')">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<form id="deleteForm" asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" id="deleteItemId" />
</form>

<form id="bulkDeleteForm" asp-action="BulkDelete" method="post">
    @Html.AntiForgeryToken()
</form>